.demo-1 .large-header {
     background-image: url('../img/white.png'),url('../img/date.png');
     background-position: center,left top;
     background-size: 700px,350px;
     background-repeat:no-repeat;
}
 .main-title {
     position: fixed;
     margin: 0;
     padding:0;
     color: #ff9205;
     text-align: center;
     top: 80%;
     left: 38%;
}
 .demo-1 .main-title{
     font-size: 1em;
     text-transform: uppercase;
}
 .main-title .thin {
     font-weight: 150;
     font-size: 0.4em;
     text-align: left;
     padding-left: 27.5%;
     padding-top: 5%;
}
/*#demo-canvas{
     display: none;
}
*/
 @keyframes shake {
     from {
         transform: scale3d(1, 1, 1);
    }
     50% {
         transform: scale3d(1.2, 1.2, 1.2);
    }
     to {
         transform: scale3d(1, 1, 1);
    }
}